:root {
    --font-size-h1: clamp(1.5rem, 6vw, 3.052rem);
    --font-size-h2: clamp(3.052rem, 10vh, 7.451rem);
    --font-size-h3: clamp(2.441rem, 4vw, 3.052rem);
    --font-size-h4: clamp(1.953rem, 3vw, 2.441rem);
    --font-size-p: clamp(.9rem, 2vw ,1.25rem);

    --color-white: #fff;
    --color-black: #000;

    --color-black-trans75: hsla(285, 5%, 17%, 0.75);
    --color-black-trans90: hsla(285, 5%, 17%, 0.90);

    /* Greys  */
    --color-grey-dark: #2D2A2E;
    --color-grey-light: #403e41;

    --color-primary: #78DCE8;
    --color-primary-trans50: rgba(120, 221, 232, 0.50);
    --color-accent: #ff6188;

    --box-shadow-light: 1px 1px 2px var(--color-black-trans75);
}

*,
::before,
::after {
    /* Gets rid of default margin and padding. */
    margin: 0;
    padding: 0;

    /* Removes all defualt I/O stylings. */
    appearance: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
/* 
    border: 1px solid red; */
    
}

html, body {
	width: 100%;
	height: 100%;
}

.contentWrapper {
    width: 100%;
    height: 100%;
}

.centeredInContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-grey-dark); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}